* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* start Nav-bar */
  #navContainer {
    position: relative;
    height: 10vh;
    width: 100%;
    z-index: 1;
  }
  #logo {
    position: absolute;
  }
  .head {
    float: right;
    margin-right: 15px;
  }
  .Nav {
    list-style-type: none;
    margin-top: 25px;
    display: inline-flex;
    padding-left: 30px;
  }
  .Dropdown ul li {
    list-style-type: none;
    padding-bottom: 20px;
    color: black;
  }
  .Dropdown ul li:hover {
    list-style-type: none;
    padding-bottom: 20px;
    color: black;
    background-color: rgb(21, 162, 184);
  }
  .Dropdown {
    display: none;
    position: absolute; /* only dak absolute can we dak z-index */
    z-index: 1;
    padding: 5px 2px;
    margin-top: 20px;
  }
  .Nav:hover .Dropdown {
    display: block; /*  problem  */
  }
  @media only screen and (max-width: 550px) {
    /* mobile screen */
    #logo {
      margin-top: 25px;
      margin-left: 20px;
    }
    .head {
      margin-right: 15px;
    }
    .Nav {
      margin-top: 25px;
      padding-left: 30px;
    }
    .Dropdown {
      background-color: rgb(189, 187, 187);
      width: 30%;
    }
  }
  @media only screen and (min-width: 551px) /* desktop & tablet*/ {
    #logo {
      margin-top: 25px;
      margin-left: 5%;
    }
    .head {
      margin-right: 5%;
    }
    .Nav {
      margin-top: 25px;
      padding-left: 110px;
    }
    .Dropdown {
      background-color: #fff;
      width: 10%;
    }
  }
  /* End Nav-bar */
  
  /* Start Content  */
  .Content {
    margin: auto;
    width: 90%;
  }
  .Title {
    display: flex;
    flex-wrap: wrap;
  }
  .Title h1 {
    width: 100%;
  }
  .Title .maps {
    width: 50%;
  }
  .Title [alt="pin"] {
    height: 2em;
    vertical-align: sub;
  }
  
  .Title p {
    width: 50%;
    text-align: right;
  }
  /* Start ImgGroup  */
  .ImgGroup {
    display: flex;
    margin: 10px auto;
  }
  .Img-left img {
    width: 70vw;
    height: 90vh;
  }
  .Img-right img {
    display: flex;
    flex-direction: column;
    width: 19vw;
    height: 30vh;
  }
  /* End ImgGroup  */
  
  /* Start TextContent  */
  .TextContent #Text {
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
  }
  .TextContent #Text::first-letter {
    font-size: 2em;
    font-weight: bold;
  }
  .NoteProximity {
    display: flex;
  }
  .NoteProximity p {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 10px;
  }
  .NoteProximity .Note {
    width: 50%;
    margin-right: 30px;
    border-right: 5px solid black;
   
  }
  .NoteProximity .Proximity {
    width: 50%;
  }
  .NoteProximity ul li {
    font-size: 1.5em;
    margin-left: 20px;
  }
  