*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

p{
    display: inline-block;
}   

.head{
    float: right;
    margin-right: 15px;
} 

.nav{
    list-style-type: none;
    margin-top: 25px;
    display: inline-flex;
    padding-left:30px ;
}

.dropdown_1 ul li{
    list-style-type: none;
    padding-bottom: 20px;
}
.dropdown_1{
        display: none;
        position: absolute;     /* only dak absolute can we dak z-index */
        z-index: 1;
        padding: 5px 2px ;
        margin-top: 20px;
}
    
.nav:hover .dropdown_1{
        display: block;      /*  problem  */
}

    @media only screen and (max-width:550px){ /* mobile screen */
        p{
            margin-top: 25px;
            margin-left: 20px;
    
        }
        .head{
            margin-right: 15px;
        }  
        .nav{
            margin-top: 25px;
            padding-left:30px ;
        }
        .dropdown_1{
            background-color: rgb(189, 187, 187);
            width: 30%;
        }
    }
    @media only screen and (min-width:551px)   /* desktop &  tablet*/
    {
        p{
            margin-top: 25px;
            margin-left: 5%;
    
        }
        .head{
            margin-right: 5%;
        }  
        .nav{
            margin-top: 25px;
            padding-left: 110px;
        }
        .dropdown{
            background-color: rgb(204, 227, 233);
            width: 20%;
        }
    }
  
