* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.rating_box {
    margin: 30px;
    border: 1px solid black;
    width: 1000px;
    height: 15vh;
    border-radius: 10px;
    margin-right: 40px;
}

.name_of_rater {
    margin-left: 20px;
    font-size: 25px;
    margin-right: 25px;
    padding: 15px;


}

.fa {
    padding-left: 10px;
    font-size: 20px;
}

.checked {
    text-shadow: 0 0 1px #000;
    color: white;
}

.checked1 {
    text-shadow: 0 0 1px #000;
    color: yellow;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

#comment_box {
    width: 75%;
    height: 5vh;
    border-radius: 10px;


}

#smt_btn {
    width: 10%;
    height: 5vh;
    margin-left: 30px;
    background-color: #27bcd3;
    border-radius: 10px;
    border-style: none;

}
button:hover{
    color: white;
}